.text{
  border: 1px solid #ffffff;


  -webkit-box-shadow: 5px 5px 15px 5px #0000005d; 
 box-shadow: 5px 5px 15px 5px #00000063;
 -webkit-border-radius:25px;
-moz-border-radius: 25px;
border-radius: 25px;
background: white;
 padding: 8px;
 padding-top: 0;

display:flex; 
justify-content:center;



   }

.textH{
  text-align: center ;
  font-size: 1em;
  right: 45%;
}


@media only screen and (min-width: 750px) {

}